/* Styl tła dla całej strony */
.listing-page {
    background-image: url('graphics/site_background.png'); /* Ścieżka do obrazka */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Zapobiega powtarzaniu tła */
    background-attachment: fixed;
    min-height: 100vh; /* Ustawia minimalną wysokość na 100% wysokości okna */
}

/* Styl dla komunikatu o błędzie */
.err-field {
    color: green;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}